@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Reddit Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/RedditMono-VariableFont_wght.ttf) format("truetype");
  }
}
